<template name="header">
    <header>
        <h1 class="center-algin">My Todo List!</h1>
    </header>
</template>

<template name="form">
    <form class="add-new-task">
        <div class="input-field">
            <input type="text" placeholder="Add A New Task" />
        </div>
        <div class="center-button"></div>
        <button class="center-button waves-effect waves-light btn">Submit</button>
        </div>
    </form>
</template>

<template name="todos">
    <ul class="collection">
        {{#each todoList}}
        <li class="collection-item {{#if}}completed{{/if}}">
            {{this.name}}
            <div class="socondary-content">
                {{> completeCheck}}
                <a class="delete-task">
                    <li class="material-icons">delete</li>
                </a>
            </div>
        </li>
        {{/each}}
    </ul>
</template>

<template name="completeCheck">
    {{#unless}}
    <a class="complete-task">
        <li class="material-icons">done</li>
    </a>

    {{else}}
    <a class="incomplete-task">
        <li class="material-icons">not_intersted</li>
    </a>
    {{/unless}}
</template>