.completed {
    text-decoration: line-through;
}

.secondary-content a {
    margin: 0 0.5em;
}

.complete-task {
    color: #1cac1c;
}

.incomplete-task {
    color: #a50000;
}

i {
    cursor: pointer;
}

.center-button {
    text-align: center;
}

.input-field {
    margin: 0 auto;
    width: 75%;
}

.body {
    background-color: rgba(255, 88, 0, 0.62);
}